{% load static %}
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" />
    <title>KwikTalk - Feed</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/column.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;500&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body class="body-style">
  {% block content %}

    <nav class="navbar sticky-top navbar-expand-lg navbar-light navbar-color shadow-sm" id="navbar-padding">
{#        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">#}
{#          <span class="navbar-toggler-icon"></span>#}
{#        </button>#}
        <a class="navbar-brand" href="#"><img class="img" src="{% static 'img/kwiktalk-logo.svg' %}" width="50px" height="50px" alt="logo"> KwikTalk</a>

{#        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">#}
{#          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">#}
{#            <li class="nav-item active">#}
{#              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#              <a class="nav-link" href="#">Digital Column</a>#}
{#            </li>#}
{#          </ul>#}
{#        </div>#}
      </nav>
      <script>
        var prevScrollpos = window.pageYOffset;
        window.onscroll = function() {
            var currentScrollPos = window.pageYOffset;
            if (prevScrollpos > currentScrollPos) {
                document.getElementById("navbar-padding").style.top = "0";
            } else {
                document.getElementById("navbar-padding").style.top = "-55px";
            }
            prevScrollpos = currentScrollPos;
        }
      </script>

      <div class="container-fluid second-nav sticky-top" style="background-color: #2E306B !important;">

            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2 search-form" type="search" placeholder="Search" aria-label="Search">
            </form>
          <button type="button" class="btn btn-primary post-button" data-toggle="modal" data-target="#exampleModal" style="background-color: #E62E78 !important; border-color: #E62E78 !important;">
                    Post
                </button>
            <span class="ml-auto">
                <button type="button" class="btn btn-primary desktop-post-button" data-toggle="modal" data-target="#exampleModal" style="background-color: #E62E78 !important; border-color: #E62E78 !important;">
                    Write a post
                </button>
                    <button type="button" class="btn btn-secondary dropdown-toggle profile-drop" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #2E306B !important; color: white; border: none !important;">
                    <img src="../../media/{{ user.profile.display_picture }}" id="previe"  width="30px" height="30px" style="border-radius: 50px;">
                    <span class="user-toggle" style="color: white">{{ request.user.first_name|capfirst }}</span> </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <a href="{% url "user_list" %}{{ request.user.username }}" class="dropdown-item" type="button" role="button" aria-pressed="true">View profile</a>
                         <a href="{% url "friend_request" %}" class="dropdown-item" type="button" role="button" aria-pressed="true">Notification
                            <span class="badge badge-danger">{{ request.user.friend_request.count }}</span></a>
                        <a href="{% url "user_list" %}" class="dropdown-item" type="button" role="button" aria-pressed="true">View profile list</a>
                        <a href="{% url "edit" %}" class="dropdown-item" type="button" role="button" aria-pressed="true">Edit profile</a>
                        <a href="{% url "password_change" %}" class="dropdown-item" type="button" role="button" aria-pressed="true">Change password</a>
                            <div class="dropdown-divider"></div>
                        <a href="{% url "logout" %}" class="dropdown-item" type="button" role="button" aria-pressed="true">Log out</a>
                    </div>
                <!-- </div> -->
            </span>
      </div>
      <div class="container-fluid main-body">
          <div class="row">
              <div class="col-md-3 main-body-inner feed-main-body">
                <div class="left-sidebar">
                    <p>
                        <h6 class="post-tag-head">Account Summary</h6>
                        <div class="tag-sidebar-item">
                            <p class="post-tag">{{ posts_by_user }} Post(s) Published</p>
                            <p class="post-tag">{{ likes_by_user }} Like(s) Made</p>
                        </div>
                    </p>
                </div>
              </div>
              <div class="col-md-6 main-body-inner1">
              {% if added_post.count == 0 %}
              <div class="card w-100 mt-3">
                  <div class="card-body" style="display: flex; justify-content: space-evenly; vertical-align: center">
                      <p class="card-text">
                          No post yet.
                      </p>
                  </div>
              </div>
              {% endif %}
                <p>
                    <h6 class="post-head">Posts Feed</h6>
{#                    {% for post in posts %}#}
{#                        <p>{{ post.post_body }}</p>#}
{#                    {% endfor %}#}
                  {% for post in added_post %}
                   <div class="post-container">
                        <div class="feed-post-image-container">
                            <img src="../../media/{{ post.featured_image }}" id="previe" class="image-post"  width="535px" height="204px" >
                        </div>
                        <div class="container-fluid feed-post-detail">
                            <div class="row feed-post-author-detail">
                                <div class="col-md-4 feed-post-author-image-name-post-date">
                                    <a href="{{ user.get_absolute_url }}">
                                    <div class="feed-post-author-image">
                                        <img src="../../media/{{ post.user.profile.display_picture }}" id="previe"  width="50px" height="50px" style="border-radius: 50px;">
                                    </div>
                                    </a>
                                    <span>
                                        <!-- <div class="feed-post-author-name-post-date"> -->
                                            <p class="feed-post-author-name">{{ post.user.first_name|capfirst }}</p>
                                            <p class="feed-post-date">{{ post.created_at | timesince}} ago</p>
                                        <!-- </div> -->
                                    </span>
                                </div>

                                <div class="col-md-8 feed-post-title-area">
                                  <div class="post-reactions">
                                    <div class="post-reaction-inner ml-auto">
                                        <p class="time-to-read">[{{ post.post_likes.count }}] likes</p>
                                        <form action="{% url 'kwikposts:like-post' %}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="post_id" value="{{ post.id }}">
                                        <button type="submit" class="btn btn-primary">
                                            {% if user not in post.post_likes.all %}
                                                Like
                                            {% else %}
                                                Unlike
                                            {% endif %}
                                        </button>
                                        </form>
                                    </div>
                                  </div>
                                </div>
                            </div>
                                <div class="post-content">
                                    <p>{{ post.post_body }}</p>
                                </div>
                        </div>
                        <div class="accordion" id="accordionExample">
                           <div class="card mb-2">
                               <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0" style="display: flex">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse{{ post.id }}" aria-expanded="false" aria-controls="collapseTwo">
                                            Comments [{{ post.comment_set.all.all.count }}]
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapse{{ post.id }}" class="collapse mb-2" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <form method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            {% if messages %}
                                                {% for message in messages %}
                                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                        {{ message|safe }}
                                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                            <input type="hidden" name="post_id" value={{ post.id }}>
                                            <div class="form-group">
                                                <textarea class="form-control" name="user_comment" placeholder="Enter comments here" id="message-text"></textarea>
                                                <button type="submit" name="submit_c_form" class="btn btn-primary comment-button" style="margin: 1em 0 0 25.5em">comment</button>
                                                {% if post.comment_set.all %}
                                                    {% for comments in post.comment_set.all %}
                                                        <div class="card">
                                                            <div class="card-header" style="display: flex; vertical-align: center;">
                                                                 <a href="{{ user.get_absolute_url }}">
                                                                    <img src="../../media/{{ comments.user.profile.display_picture }}" id="previe"  width="40px" height="40px" style="border-radius: 50px;">
                                                                 </a>
                                                                <p>{{ comments.user|capfirst }}</p>
                                                            </div>
                                                            <div class="card-body">
                                                                <blockquote class="blockquote mb-0">
                                                                    <p style="font-size: 0.8rem;">{{ comments.user_comment }}</p>
                                                                <footer class="blockquote-footer">{{ comments.created_at | timesince}} ago</footer>
                                                                </blockquote>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% ifequal request.user post.user %}
                            <div class="dropdown" style="margin-left: 24.2em;" >
                                <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Modify post
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="{% url 'feed:update-post' post.pk %}">Update</a>
                                    <a class="dropdown-item" href="{% url 'feed:delete-post' post.pk %}">Delete</a>
                                </div>
                            </div>
                        {% endifequal %}
                        </div>
                    </div>
                  {% endfor %}
                </p>
              </div>
              <div class="col-md-3 main-body-inner2 feed-main-body">
                <div class="trending-sidebar">
                    <p>
                        <h6 class="trending-sidebar-head"> <p></p> <button type="button" class="btn btn-dark">
                                    Friends <span class="badge badge-light">{{ user.profile.get_friends_number }}</span>
                                </button></h6>
                        <div class="trending-sidebar-item">
                           {% for friend in user.profile.get_friends %}
                                <p class="post-trend-title">{{ friend|capfirst }}</p>
                            {% endfor %}
                        </div>
                    </p>
                </div>
              </div>
          </div>
      </div>

      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New Post</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}

                  {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{ message|safe }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                  {% endif %}

                <div class="form-group">
                    <label for="message-text" class="col-form-label">KwikTalk Post:</label>
                    <textarea class="form-control" name="post_body" id="message-text"></textarea>
                  </div>
                <div class="form-group">
                    <div class="custom-file">
                      <input type="file" name="featured_image" class="custom-file-input form-control" id="customFile">
                      <label class="custom-file-label" for="customFile">Choose Post Image</label>
                    </div>
                    <img src="https://placehold.it/80x80" id="preview" style="margin-top: 1em;" width="80px" height="80px" class="img-thumbnail">
                  </div>
                  <div class="modal-footer">
              <button type="submit" name="submit_p_form" class="btn btn-primary">Post</button>
            </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


      <script>
var csrftoken = Cookies.get('csrftoken');
function csrfSafeMethod(method) {
// these HTTP methods do not require CSRF protection
return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
beforeSend: function(xhr, settings) {
if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
xhr.setRequestHeader("X-CSRFToken", csrftoken);
}
}
});

    </script>
    <script>
        $(document).on("click", ".browse", function() {
          var file = $(this).parents().find(".file");
          file.trigger("click");
        });
        $('input[type="file"]').change(function(e) {
          var fileName = e.target.files[0].name;
          $("#file").val(fileName);

          var reader = new FileReader();
          reader.onload = function(e) {
            // get loaded data and render thumbnail.
            document.getElementById("preview").src = e.target.result;
          };
          // read the image file as a data URL.
          reader.readAsDataURL(this.files[0]);
        });


        $(document).ready(function() {
          $('input[type="file"]').on("change", function() {
            let filenames = [];
            let files = document.getElementById("customFile").files;
            if (files.length > 1) {
              filenames.push("Total Files (" + files.length + ")");
            } else {
              for (let i in files) {
                if (files.hasOwnProperty(i)) {
                  filenames.push(files[i].name);
                }
              }
            }
            $(this)
              .next(".custom-file-label")
              .html(filenames.join(","));
          });
        });

    </script>
{% endblock %}
  </body>
</html>