body, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* ====================Start Global Scrollbar =============================== */

body::-webkit-scrollbar {
  width: 0.4em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0  1px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #2E306B;
  outline: 1px solid #2E306B;
  /* border-radius: 1em; */
}

/* ====================End Global Scrollbar =============================== */

/* ====================Navigation =============================== */
nav .nav {
  display: flex;
  border-bottom: 1px solid silver;
  background-color: #ffffff;
  position: relative;
  width: 100%;
  height: 80px;
  box-sizing: border-box;
}
.nav .brand {
  position: absolute;
  top: 24px;
  left: 4.7%;
}
.nav .nav-item {
  position: absolute;
  top: 17px;
  right: 6%;
}
.nav a .img {
  display: block;
  width: 100%;
  height: auto;
}
.nav-item ul {
  display: flex;
  justify-content: space-evenly;
}
.nav-item ul a {
  text-decoration: none;
  margin-left: 60px;
}
.nav-item ul a li:hover {
  color: #ff2e2e;
}

.nav-item ul a li {
  list-style: none;
  color: #960c0c;
  font-size: 15px;
  font-family: "IBM Plex Sans", sans-serif;
}

/* =============End of Navigation============== */

/* ================header ================ */
.container {
  background-color: #ffffff;
  height: 620px;
  border: 1px solid transparent;
  position: relative;
  right: 0;
}
.container .wrapper {
  display: flex;
  /* background-color: azure; */
  width: 88%;
  height: 500px;
  box-sizing: border-box;
  margin: 60px auto;
  position: relative;
}
.container .wrapper .intro-text {
  /* background-color: aquamarine; */
  width: 49%;
}
.intro-text .head-title {
  font-size: 1.3rem;
  text-align: left;
  color: #ff2e2e;
  line-height: 50px;
  font-weight: 600px;
  font-family: "IBM Plex Sans", sans-serif;
}
.intro-text .head-title h1 {
  margin: 0;
  padding: 0;
}
.intro-text .head-text {
  width: 80%;
  /* border: 1px solid red; */
  color: #2E306B;
  line-height: 25px;
  font-weight: 600px;
  font-family: "IBM Plex Sans", sans-serif;
}
.wrapper .intro-design {
  /* border: 1px solid red; */
  width: 51%;
  position: relative;
}
.wrapper .intro-design .bulb {
  position: absolute;
  top: 25%;
  left: 14.8%;
  z-index: 1000;
}

.icon:hover {
  filter:  brightness(20);
}

.wrapper .intro-design .intro-card {
  height: 500px;
  width: 350px;
  border-radius: 8px;
  background-color: #fff3c8;
  box-sizing: border-box;
  /* border: 1px solid red; */
  position: absolute;
  right: 0;
}
.wrapper .intro-design .intro-card .show-img {
  margin-top: 32px;
  text-align: center;
  /* border: 1px solid green; */
}
.wrapper .intro-design .intro-card .name-title {
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  /* border: 1px solid blue; */
}
.wrapper .intro-design .intro-card .name-title h4 {
  line-height: 17.03px;
  color: #2E306B;
  margin-bottom: 13px;
}
.wrapper .intro-design .intro-card .name-title p {
  color: #ff2e2e;
  margin-top: 0;
  line-height: 11.42px;
}
.wrapper .intro-design .intro-card .tags {
  height: 112px;
  margin: 50px 30px 35px 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* border: 1px solid blue; */
}
.wrapper .intro-design .intro-card .tags .tag {
  border-radius: 5px;
  padding: 3px 8px 3px 8px;
  background: none;
  height: 28px;
  border: 1px solid #2E306B;
  color: #2E306B;
}
/* ===========================End of header================= */

/* ============================partner section================== */
.partners {
  background-color: #ea6e00;
  width: 100%;
  height: 180px;
  box-sizing: border-box;
  position: relative;
  z-index: 1000;
}
.partners h5 {
  text-align: center;
  padding-top: 32px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
  font-family: "IBM Plex Sans", sans-serif;
  color: #fff;
}
.partners .logos {
  display: flex;
  justify-content: space-between;
  width: 88%;
  margin: 32px auto;
  height: 70px;
}
/* ===============End of partners section================ */
/* =======================About section================= */
.circle {
  /* height: 300px;
  width: 300px;
  background-color: #f4b400;
  border-radius: 50%; */
  position: absolute;
  left: 0px;
  bottom: -100px;
  z-index: 0;
  /* box-sizing: border-box; */
}
.circle1 {
  position: absolute;
  right: 0px;
  top: -150px;
  z-index: 0;
  /* border: 1px solid red; */
}
.container .wrap {
  background-color: #fff3c8;
  width: 88%;
  height: 500px;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 50px auto;
  position: relative;
  z-index: 1000;
}
.container .wrap h4 {
  padding-top: 64px;
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  color: #960c0c;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 31px;
}
.container .wrap .feature {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  margin: 120px auto;
  width: 90%;
  height: 210px;
}
.container .wrap .feature .box {
  height: 210px;
  width: 180px;
  /* border: 1px solid green; */
}
.container .wrap .feature .box h4 {
  text-align: left;
  font-size: 1.2rem;
  padding-top: 20px;
  margin-top: 0;
  margin-bottom: 0;
}
.container .wrap .feature .box p {
  margin-top: 10px;
  font-size: 1rem;
  line-height: 18px;
  font-family: "IBM Plex Sans", sans-serif;
  color: #960c0c;
}

.rotate {
  animation: rotation 3s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(200deg);
  }
}

.bounce {
  align-self: flex-end;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
}

.bounce-7 {
  animation-name: bounce-7;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}
@keyframes bounce-7 {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-100px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-7px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}
/* .container .wrap .feature .box .cover {
  /* border: 1px solid red; */
/* }  */

/* =====================End of About===================== */
/* ===================Alumni Section================== */
.alumni {
  background-color: #960c0c;
  height: 638px;
  width: 99.8%;
  position: relative;
  border: 1px solid #960c0c;
  z-index: 1000;
}
.alumni .alumni-display {
  font-family: "IBM Plex Sans", sans-serif;
  margin-top: 64px;
  position: relative;
}
.alumni .alumni-display h4 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.5rem;
  line-height: 31px;
  font-weight: 600;
  text-align: center;
  margin-top: 0;
  color: #fff3c8;
  padding-right: 25px;
  /* border: 1px solid red; */
}
.wrapping {
  width: 70%;
  margin: auto;
  padding-top: 30px;
}
/* .wrapping .section {
  display: flex;
  justify-content: space-between;
} */
.single {
  width: 280px;
  height: 300px;
  border-radius: 5px;
  background-color: #ea6e00;
  box-sizing: border-box;
}
.single .img-area {
  text-align: left;
  margin: 30px;
  padding-top: 30px;
}
.single .img-area .alumni-img {
  border: 1px solid #fff3c8;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.single .img-area .alumni-img img {
  display: block;
  height: auto;
  max-width: 100%;
  overflow: hidden;
}
.wrapping .section .single .img-area h5 {
  color: #fff3c8;
  line-height: 23px;
  font-size: 0.95rem;
  font-weight: 600;
  margin-bottom: 0;
  text-transform: uppercase;
}
.wrapping .section .single .img-area h6 {
  margin-top: 6px;
  color: #f6d600;
  line-height: 16px;
  font-size: 0.8rem;
  letter-spacing: 1px;
}
.wrapping .section .single .img-area h6 span {
  color: #fff3c8;
}
.wrapping .section .single .img-area div .social {
  width: 20px;
  display: inline-block;
}
.wrapping .section .single .img-area .bsocials {
  padding-top: 15px;
}
.wrapping .section .single .img-area div span a {
  text-decoration: none;
  color: #fff3c8;
}
.wrapping .section .single .img-area .bsocials:hover {
  color: #960c0c;
}
/* .owl-dots {
  text-align: center;
}
.owl-dot {
  display: inline-block;
  height: 10px !important;
  width: 10px !important;
  opacity: 0.8;
  background-color: #fff3c8;
  border-radius: 50%;
  margin: 50px 5px 0;
}
.owl-dot:active {
  background-color: #f4b400 !important;
} */

.native-logo {
  /* border: 1px solid red; */
  margin: 20px auto;
  padding-top: 70px;
  padding-right: 26px;
  margin-bottom: 0;
  /* text-align: center; */
  width: 280px;
}
.native-logo .blogo {
  display: block;
  max-width: 100%;
  height: auto;
  overflow: hidden;
}
/* ==================End of Alumni Section================ */
/* ======================Register/Login form============ */
.modal-back {
  height: 680px;
  border: 1px solid rgba(2, 2, 2, 0.4);
  background-color: rgba(2, 2, 2, 0.4);
  box-sizing: border-box;
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 570px;
  /* background-color: #ea6e00; */
  margin: 40px auto;
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
}
.form-container .sign-in {
  width: 100%;
  height: 50%;
  background-color: #fff3c8;
}
.form-container .sign-in h3 {
  margin-top: 10px;
  font-weight: 600;
  line-height: 31px;
  font-size: 24px;
  color: #ff2e2e;
  font-family: "IBM Plex Sans", sans-serif;
}
#sign-form {
  padding-top: 20px;
}
.form-container .sign-in #sign-form .input {
  width: 60%;
  height: 45px;
  padding: 8px;
  border: 1px solid #ff2e2e;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1rem;
  font-family: "IBM Plex Sans", sans-serif;
}
.form-container .sign-in #sign-form .submit {
  width: 60%;
  height: 45px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ff2e2e;
  background-color: #ff2e2e;
  color: #fff;
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 21px;
  font-size: 0.9rem;
}
.form-container .sign-in p {
  font-size: 0.9rem;
  font-family: "IBM Plex Sans", sans-serif;
}
.form-container .sign-in p a {
  text-decoration: none;
  color: #960c0c;
}
.form-container .register {
  width: 100%;
  height: 50%;
  background-color: #960c0c;
}
/* .form-container .register {
  width: 100%;
  height: 50%;
  background-color: #fff3c8;
} */
.form-container .register h3 {
  margin-top: 10px;
  font-weight: 600;
  line-height: 31px;
  font-size: 24px;
  color: #f6d600;
  font-family: "IBM Plex Sans", sans-serif;
}
#form {
  padding-top: 20px;
}
.form-container .register #form .input {
  width: 60%;
  height: 45px;
  padding: 8px;
  border: 1px solid #f4b400;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1rem;
  font-family: "IBM Plex Sans", sans-serif;
}
.form-container .register #form .submit {
  width: 60%;
  height: 45px;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  background-color: #ff2e2e;
  color: #fff;
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 21px;
  font-size: 0.9rem;
}
@media (max-width: 770px) {
  .form-container {
    width: 60%;
  }
  .form-container .sign-in #sign-form .input {
    height: 35px;
    padding: 7px;
    font-size: 0.8rem;
  }
  .form-container .register #form .input {
    height: 35px;
    padding: 7px;
    font-size: 0.8rem;
  }
  .form-container .sign-in #sign-form .submit {
    height: 35px;
    padding: 6px;
  }
  .form-container .register #form .submit {
    height: 35px;
    padding: 6px;
  }
}
@media (max-width: 500px) {
  .form-container {
    width: 85%;
  }
}

/* =========================Register/Login end============= */
